body {
    background-image: url('/images/slika.jpg');

}
#lovac{
    background-image: url("/images/lovac.jpg");


}
h2{
    background-image:url("/images/cvece.jpg");
    max-width: 100%;
    height: 120px;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 3px 2px white;
    font-style: italic;
}

form {
    position: relative;
    bottom: 0;
    float:right;
    top:0px;
    border: 2px solid #f1f1f1;
}


ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    z-index: 1;
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px 40px;
    text-decoration: none;
    z-index: 1;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
    z-index: 1;
}

li.dropdown {
    display: inline-block;
    z-index: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a {

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;

}


.onClickTextOverImage{
    width:300px;
    height:400px;
    background-size:cover;
    display:inline-block;
    margin:4px;
    border-radius:16px;
    box-shadow:0 0 16px rgba(0,0,0,0.5);
    position:relative;
}

.onClickTextOverImage *{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:2;
}

.onClickTextOverImage div{
    z-index:1;
    color:#fff;
    text-align:center;
    padding:8px;
    padding-top:35%;
    background-color:rgba(0,0,0,0.5);
    border-radius:16px;
    opacity:0;
    transition:.3s;
}
.onClickTextOverImage div:target{
    opacity:1;
    padding-top:40%;
    z-index:3;
}



