<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sve knjige</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/home1.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>


    <script src="../static/javascript/korpa.js"></script>
</head>
<body>
<h1>Dobrodosli</h1>
<h2 style="">knjige.org</h2>
<header>

    <ul id="korisnici">
        <li style="float:right">
            <form th:action="@{/pretrazi}" th:object="${ppretraga}" method="post">
                <label for="pretraga">Search:</label>
                <input id="pretraga" type="text" th:field="*{pretraga}"/>

                <input type="submit">
            </form>
        </li>
        <br/>
        <br/>
        <br/>
        <!--        <br/>-->
        <!--        <li style="float:right">-->
        <!--            <form th:action="@{/pretrazii}" th:object="${ppretraga}" method="post">-->
        <!--                <label for="naziv">Naziv:</label>-->
        <!--                <input id="naziv" type="text" th:field="*{naziv}"/>-->
        <!--                <br/>-->
        <!--                <label for="kategorija">Kategorija artikla:</label>-->
        <!--                <input id="kategorija" type="text" th:field="*{kategorija}"/>-->
        <!--                <input type="submit">-->
        <!--            </form>-->
        <!--        </li>-->

        <li class="dropdown" style="float:left">
            <a th:href="${'/registracija'}">Registracija</a>
        </li>
        <li style="float:left">
            <a th:href="${'/login'}">Logovanje</a></li>
        <li style="float:left">
            <a th:href="${'/korisnici'}">Videti sve korisnike</a></li>
        <li style="float:left">
            <a th:href="${'/artikli'}">Videti knjige</a></li>
        <li style="float:left">
            <a th:href="${'/korpa'}">Videti korpu</a></li>

        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Kategorije</a>
            <div class="dropdown-content">
                <a th:href="${'/kategorije/istorijski'}">Istorijski romani</a>
                <a th:href="${'/kategorije/domaci'}">Domaći autori</a>
                <a th:href="${'/kategorije/ruskaknjizevnost'}">Ruska knjizevnost</a>
        </li>

    </ul>
    <ul id="ccc">
        <li class="dropdown" style="float:left">
            <a th:href="${'/popust'}">Popust</a>
        </li>

        <li style="float:left">
            <a th:href="${'/omiljene'}">Omiljenje knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Sort</a>
            <div class="dropdown-content">
                <a th:href="${'/sort/imerastuce'}">Po nazivu rastuće</a>
                <a th:href="${'/sort/imeopadajuce'}">Po nazivu opadajuće</a>
                <a th:href="${'/sort/cenarastuca'}">Po ceni rastuće</a>
                <a th:href="${'/sort/cenaopadajuca'}">Po ceni opadajuća</a>
        </li>

    </ul>

</header>


<table style="width:100%" id="artikli">
    <tr>
        <th>Naziv</th>
        <th>Opis artikla</th>
        <th>Cena</th>
        <th>Kategorija</th>
    </tr>
    <!--/*@thymesVar id="artikli" type=""*/-->
    <tr th:each="artikal : ${artikli}">
        <form method="post" enctype="application/json"  action="">

            <td name="naziv" th:value="${artikal.naziv}"  id="naziv" th:text="${artikal.naziv}"></td>
            <td name="opisArtikla" th:value="${artikal.opisArtikla}" id="opis"
                th:text="${artikal.opisArtikla}"></td>
            <td name="cena"  th:value="${artikal.cena}" id="cena" th:text="${artikal.cena}"></td>
            <td name="kategorija" th:value="${artikal.kategorija}" id="kategorija"
                th:text="${artikal.kategorija}"></td>
            <td><input type="submit"  th:name="${artikal.naziv}">Kupi</input></td>
            <td><a th:href="${'/obrisi'}">Obrisi</a></td>
        </form>
        </tr>
</table>


</body>


</html>