<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj artikal</title>
    <link rel="stylesheet" href="/css/home1.css">
</head>
<h1>Dobrodosli</h1>
<h2 style="">knjige.org</h2>
<header>

    <ul id="korisnici" >

        <li class="dropdown" style="float:left">
            <a  th:href="${'/registracija'}"  >Registracija</a>
        </li>
        <li style="float:left">
            <a th:href="${'/login'}">Logovanje</a></li>
        <li style="float:left">
            <a th:href="${'/korisnici'}">Videti sve korisnike</a></li>
        <li style="float:left">
            <a th:href="${'/artikli'}">Videti knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Kategorije</a>
            <div class="dropdown-content">
                <a th:href="${'/kategorije/istorijski'}" >Istorijski romani</a>
                <a th:href="${'/kategorije/domaci'}" >Domaći autori</a>
                <a th:href="${'/kategorije/ruskaknjizevnost'}" >Ruska knjizevnost</a> </li>

    </ul>
    <ul id="ccc" >
        <li class="dropdown" style="float:left">
            <a  th:href="${'/popust'}"  >Popust</a>
        </li>

        <li style="float:left">
            <a th:href="${'/omiljene'}">Omiljenje knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Sort</a>
            <div class="dropdown-content">
                <a th:href="${'/sort/imerastuce'}" >Po nazivu rastuće</a>
                <a th:href="${'/sort/imeopadajuce'}" >Po nazivu opadajuće</a>
                <a th:href="${'/sort/cenarastuca'}" >Po ceni rastuće</a>
                <a th:href="${'/sort/cenaopadajuca'}" >Po ceni opadajuća</a>
        </li>

    </ul>

</header>


<body>

<form method="post" enctype="application/json" action="">
    <label for="naziv">Naziv: </label>
    <input id="naziv" type="text" name="naziv" size="25" maxlength="35" required="required" placeholder="Unesite naziv" >
    <br>
    <label for="opisartikla">Opis artikla: </label>
    <input id="opisartikla" type="text" name="opisArtikla" size="25" maxlength="35" required="required" placeholder="Unesite opis">
    <br>
    <label for="kategorija">Kategorija: </label>
    <input id="kategorija" type="text" name="kategorija" size="25" maxlength="35" required="required" placeholder="Unesite korisničko ime" >
    <br>
    <label for="cena">Cena: </label>
    <input id="cena" type="number" name="cena">
    <br>
    <label for="kolicina">Kolicina: </label>
    <input id="kolicina" type="number" name="kolicina">
    <br>
    <select name="popust" required="" multiselect="">
        <option value="">Popust</option>
        <optgroup label="Ponuđeno">
            <option value="TRUE">True</option>
            <option value="FALSE">False</option>
        </optgroup>
    </select>
    <select name="omiljen" required="" multiselect="">
        <option value="">Omiljen</option>
        <optgroup label="Ponuđeno">
            <option value="TRUE">True</option>
            <option value="False">False</option>
        </optgroup>
    </select>
    <br>

    <input type="submit">

</form>


</body>
</html>