<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pocetna strana</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/home1.css">
    <script type="text/javascript" src="jquery-1.11.3.min.js"></script>
    <script type="text/javascript" language="javascript" src="login.js"></script>
</head>
<body>
<h1>Dobrodosli</h1>
<h2 style="">knjige.org</h2>
<header>

    <ul id="korisnici" >


        <li class="dropdown" style="float:left">
            <a  th:href="${'/registracija'}"  >Registracija</a>
            </li>
        <li style="float:left">
            <a th:href="${'/login'}">Logovanje</a></li>
        <li style="float:left">
            <a th:href="${'/logout'}">Odloguj se</a></li>
        <li style="float:left">
            <a th:href="${'/korisnici'}">Videti sve korisnike</a></li>
        <li style="float:left">
            <a th:href="${'/artikli'}">Videti knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Kategorije</a>
            <div class="dropdown-content">
                <a th:href="${'/kategorije/istorijski'}" >Istorijski romani</a>
                <a th:href="${'/kategorije/domaci'}" >Domaći autori</a>
                <a th:href="${'/kategorije/ruskaknjizevnost'}" >Ruska knjizevnost</a> </li>

    </ul>
    <ul id="ccc" >
        <li class="dropdown" style="float:left">
            <a  th:href="${'/popust'}"  >Popust</a>
        </li>

        <li style="float:left">
            <a th:href="${'/omiljene'}">Omiljenje knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Sort</a>
            <div class="dropdown-content">
                <a th:href="${'/sort/imerastuce'}" >Po nazivu rastuće</a>
                <a th:href="${'/sort/imeopadajuce'}" >Po nazivu opadajuće</a>
                <a th:href="${'/sort/cenarastuca'}" >Po ceni rastuće</a>
                <a th:href="${'/sort/cenaopadajuca'}" >Po ceni opadajuća</a>
                </li>
        <li style="float:left">
            <a th:href="${'/dodajartikal'}">Dodaj knjigu</a></li>

    </ul>

</header>


<table style="width:100%">

    <tr>
        <td>
            <div class="onClickTextOverImage" id="lovac" >
                <a href="#knjiga1"></a>
                <div id="knjiga1">Ovaj snažan debitantski roman… pripoveda o žestokoj okrutnosti i žestokoj ljubavi koja iskupljuje. Oboje menjaju život Amiru, mladom i bogatom pripovedaču, koji sazreva u poslednjim mirnim danima svoje otadžbine, pre revolucije i upada ruske vojske. Ali politički događaji, čak i oni dramatični poput ovih prikazanih u Lovcu na zmajeve, samo su deo ove priče. U Lovcu na zmajeve Haled Hoseini nam daje živopisnu i životnu priču koja nas podseća na to koliko se njegov narod bori da trijumfuje nad silama nasilja – silama koje mu i danas prete. </div>
            </div>
            <h3>Lovac na zmajeve</h3>
            <p>Haled Hoseini</p>

        </td>
        </br>
        <td>
            <div class="onClickTextOverImage"  style="background-image:url('/images/kazna.jpg')">
                <a href="#knjiga2"></a>
                <div id="knjiga2">Tokom 1866. godine, časopis „Ruski glasnik“ objavio je u dvanaest mesečnih nastavaka tekstove koji će skupa biti objavljeni kao roman pod imenom „Zločin i kazna“. Sinopsis jednog od najvećih psiholoških romana u istoriji      književnosti zaprepaščujuće je jednostavan: u agoniji zbog materijalne oskudice ruski student Rodion Raskoljnikov      odlučuje da ubije zelenašicu Aljonu Ivanovnu. Moralne teskobe i duševne krize koje Raskoljnikova dovode na ivicu nervnog rastrojstva, a kroz te unutrašnje sukobe ekstremnog intenziteta Dostojevski je zapravo ispisivao svoju kritiku nihilizma ruskog društva. </div>
            </div>
            <h3>Zločin i kazna</h3>
            <p>Fjodor Mihajlovič Dostojevski</p>

        </td>
        </br>
        <td>
            <div class="onClickTextOverImage" style="background-image:url('/images/velika.jpg')">
                <a href="#knjiga3"></a>
                <div id="knjiga3"> U zabačenoj oblasti Engleske, u močvarnom Kentu, živi siromašni dečak Pip,nesiguran čak i u svoje poreklo i ime, osuđen na puko preživljavanje.Njegovo teško detinjstvo prepuno je kazni i patnje zbog toga što uopšte postoji.U istom mestu živi i prelepa i ohola Estela, devojčica koju je usvojila imućna gospođa Hevišam i vaspitala je da bude okrutna i hladna prema muškarcima.Ponet snažnim osećanjima, ovaj skromni dečak iz provincije rešen je da ostvari svoj san i postane gospodin, a zagonetni splet okolnosti i velikodušnost tajanstvenog dobročinitelja donose mu uspeh kojem se nije nadao.</div>
            </div>
            <a th:href="${'/artikli'}"> <h3>Velika očekivanja</h3></a>
            <p>Čarls Dikens</p>

        </td>
        </br>
    </tr>
    <tr>
        <td>
            <div class="onClickTextOverImage" style="background-image:url('/images/vatra.jpg')">
                <a href="#knjiga4"></a>
                <div id="knjiga4">Nekoliko vekova pre događaja koji se odigravaju u Igri prestola kuća Targarjena – jedina porodica zmajskih gospodara koja je preživela Propast Valirije – naselila se na Zmajkamenu. Vatra i krv započinje od legendarnog Egona Osvajača, koji je skovao Gvozdeni presto, a nastavlja se pripovedajući o pokolenjima Targarjena koji su se borili da održe tu znamenitu vladarsku stolicu – sve do izbijanja građanskog rata koji umalo nije zatro celu dinastiju.</div>
            </div>
            <a th:href="${'/artikli'}"><h3>Vatra i krv</h3></a>
            <p>Džordž R.R.Martin</p>
        </td>
        </br>
        <td>
            <div class="onClickTextOverImage" style="background-image:url('/images/medici.jpg')">
                <a href="#knjiga5"></a>
                <div id="knjiga5">Krvavi put do vlasti jedne od najmoćnijih porodica u istoriji. Firenca, 1429. godine. Nakon smrti Đovanija de Medičija, trgovca i bankara, njegovi sinovi Kozimo i Lorenco naći će se na čelu autentičnog finansijskog carstva, da zajedno upravljaju porodicom i bogatstvom. Otac im je u amanet ostavio da se u političkim borbama ponašaju trezveno, da žive umereno, ali da budu odlučni kada je potrebno.Njegova poslednja želja neće biti u potpunosti ispunjena, jer je i sam za života stekao moćne neprijatelje. Među njima je najopasniji lukavi i krvoločni Rinaldo Albici, koji ima samo jedan cilj: da preuzme primat u Firenci, po svaku cenu.</div>
            </div>
            <h3>Dinstija Mediči-u ime kraljice</h3>
            <p>Mateo Strukul</p>

        </td>
        </br>

        <td>
            <div class="onClickTextOverImage" style="background-image:url('/images/duge.jpg')">
                <a href="#knjiga6"></a>
                <div id="knjiga6">Tri viteza. Dva carstva. Jedna bitka koja će promeniti sve.
                    Roman o presudnim danima srpske srednjovekovne države, o potrazi za tajnom skrivenom u jednom kivotu ukradenom iz pograničnog manastira, viteškom Redu zmaja i bici za Pirotsku tvrđavu. Ivan Kosančić, Milan Toplica, Miloš Obilić, knez Lazar, sultan Murat I, Bajazit Jilderim, Marko Mrnjavčević i drugi likovi iz istorije i mita samo su neki od junaka ovog dinamičnog romana.</div>
            </div>
            <h3>Duge noći i crne zastave</h3>
            <p>Dejan Stojiljković</p>

        </td>
        </br>
    </tr>
    <tr>
        <td>
            <div class="onClickTextOverImage" style="background-image:url('/images/kradljivica.jpg')">
                <a href="#knjiga7"></a>
                <div id="knjiga7">1939. Nacistička Nemačka. zemlja zadržava dah. Smrt nikada nije imala toliko posla. Devetogodišnja Lizel živi sa svojom starateljskom porodicom u Ulici Himel. Roditelje su joj odveli u koncentracioni logor. Lizel krade knjige. Ovo je njena priča i priča o stanovnicima njene ulice, kada su bombe počele da padaju. </div>
            </div>
            <h3>Kradljivica knjiga</h3>
            <p>Markus Zusak</p>

        </td>
        </br>
        <td>
            <div class="onClickTextOverImage" id="overlay" style="background-image:url('/images/don.jpg')">
                <a href="#knjiga8"></a>
                <div id="knjiga8">Zbivanja “Tihog Dona” vremenski su omeđena revolucionarnim gibanjima donskog Kozaštva u deceniji od maja 1912. do marta 1922. godine. Za tih deset godina desili su se epohalni događaji. To je poslužilo piscu kao pozadina za njegovu sagu o jednoj tipičnoj („srednjačkoj") kozačkoj porodici Melehovih, a tragedija najboljeg među njima, Grigorija, simbolizuje tragediju celog Kozaštva. </div>
            </div>
            <h3>Tihi Don</h3>
            <p> Mihail Aleksandrovič Šolohov</p>

        </td>
        <td>
            <div class="onClickTextOverImage" style="background-image:url('/images/spijun.jpg')">
                <a href="#knjiga9"></a>
                <div id="knjiga9">Ilija Čvorović u “Balkanskom špijunu” uhodi i hapsi lažnog špijuna koji je, u stvari, tajni verenik njegove kćeri. Iako su obrisi zapleta u obe drame vrlo slični, razlika između njih pokazuje koliko se Kovačević u “Balkanskom špijunu” udaljio od tradicionalnog komičnog obrasca i kako se preobražajem zapleta približio tragikomediji, dominantnom dramskom žanru druge polovine dvadesetog veka.</div>
            </div>
            <h3>Balkanski špijun</h3>
            <p>Dušan Kovačević</p>
        </td>
        </br>
    </tr>
</table>

</body>
</html>