<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Korisnici</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/home1.css">
</head>
<body>
<h1>Dobrodosli</h1>
<h2 style="">knjige.org</h2>
<header>

    <ul id="korisnici" >

        <li class="dropdown" style="float:left">
            <a  th:href="${'/registracija'}"  >Registracija</a>
        </li>
        <li style="float:left">
            <a th:href="${'/login'}">Logovanje</a></li>
        <li style="float:left">
            <a th:href="${'/korisnici'}">Videti sve korisnike</a></li>
        <li style="float:left">
            <a th:href="${'/artikli'}">Videti knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Kategorije</a>
            <div class="dropdown-content">
                <a th:href="${'/kategorije/istorijski'}" >Istorijski romani</a>
                <a th:href="${'/kategorije/domaci'}" >Domaći autori</a>
                <a th:href="${'/kategorije/ruskaknjizevnost'}" >Ruska knjizevnost</a> </li>

    </ul>
    <ul id="ccc" >
        <li class="dropdown" style="float:left">
            <a  th:href="${'/popust'}"  >Popust</a>
        </li>

        <li style="float:left">
            <a th:href="${'/omiljene'}">Omiljenje knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Sort</a>
            <div class="dropdown-content">
                <a th:href="${'/sort/imerastuce'}" >Po nazivu rastuće</a>
                <a th:href="${'/sort/imeopadajuce'}" >Po nazivu opadajuće</a>
                <a th:href="${'/sort/cenarastuca'}" >Po ceni rastuće</a>
                <a th:href="${'/sort/cenaopadajuca'}" >Po ceni opadajuća</a>
        </li>

    </ul>

</header>


<body>

<h1></h1>

<table id="korisnici">
    <tr>
        <th>Uloga</th>
        <th>Korisnicko ime</th>
        <th>Lozinka</th>
        <th>Ime</th>
        <th>Prezime</th>
        <th>Telefon</th>
        <th>Email</th>
        <th>Adresa</th>
    </tr>
    <tr th:each="korisnik : ${korisnici}">
        <td th:text="${korisnik.uloga}"></td>
        <td th:text="${korisnik.korisnickoime}"></td>
        <td th:text="${korisnik.lozinka}"></td>
        <!--/*@thymesVar id="korisnik" type="ac"*/-->
        <td th:text="${korisnik.ime}"></td>
        <td th:text="${korisnik.prezime}"></td>
        <td th:text="${korisnik.telefon}"></td>
        <td th:text="${korisnik.email}"></td>
        <td th:text="${korisnik.adresa}"></td>
        <td><a th:href="${'/korisnici/' + korisnik.id}">View</a></td>
    </tr>
</table>


</body>
</html>