<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Korisnik</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/home1.css">
</head>
<h2 style="">knjige.org</h2>
<header>

    <ul id="korisnici" >

        <li class="dropdown" style="float:left">
            <a  th:href="${'/registracija'}"  >Registracija</a>
        </li>
        <li style="float:left">
            <a th:href="${'/login'}">Logovanje</a></li>
        <li style="float:left">
            <a th:href="${'/korisnici'}">Videti sve korisnike</a></li>
        <li style="float:left">
            <a th:href="${'/artikli'}">Videti knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Kategorije</a>
            <div class="dropdown-content">
                <a th:href="${'/kategorije/istorijski'}" >Istorijski romani</a>
                <a th:href="${'/kategorije/domaci'}" >Domaći autori</a>
                <a th:href="${'/kategorije/ruskaknjizevnost'}" >Ruska knjizevnost</a> </li>

    </ul>
    <ul id="ccc" >
        <li class="dropdown" style="float:left">
            <a  th:href="${'/popust'}"  >Popust</a>
        </li>

        <li style="float:left">
            <a th:href="${'/omiljene'}">Omiljenje knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Sort</a>
            <div class="dropdown-content">
                <a th:href="${'/sort/ime'}" >Po nazivu</a>
                <a th:href="${'/sort/cena'}" >Po ceni</a>
        </li>

    </ul>

</header>

<body>
<h2 style="text-align:center">Profil</h2>
<div class="card">
    <img alt="User" src="/images/user.png"/>
    <h1 th:text="${korisnik.ime}"></h1>
    <h1 th:text="${korisnik.prezime}"></h1>
    <p class="title" th:text="${korisnik.uloga}"></p>
    <br>
</div>
<a id="korisnikDisplayLink" th:href="${'/korisnici'}" style="text-align: center;">Back</a>

</body>
</html>