<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Korpa</title>
    <link rel="stylesheet" href="/css/home1.css">

</head>
<body>
<table style="width:100%" id="artikli">
    <tr>
        <th>Naziv</th>
        <th>Opis artikla</th>
        <th>Cena</th>
        <th>Kategorija</th>
    </tr>
    <!--/*@thymesVar id="artikli" type=""*/-->
    <tr th:each="artikal : ${artikli}">
        <form method="post" enctype="application/json" action="/kupi">

            <td th:value="${artikal.naziv}" th:name="${artikal.naziv}" id="naziv" th:text="${artikal.naziv}"></td>
            <td th:name="${artikal.opisArtikla}" th:value="${artikal.opisArtikla}" id="opis"
                th:text="${artikal.opisArtikla}"></td>
            <td th:name="${artikal.cena}" th:value="${artikal.cena}" id="cena" th:text="${artikal.cena}"></td>
            <td th:name="${artikal.kategorija}" th:value="${artikal.kategorija}" id="kategorija"
                th:text="${artikal.kategorija}"></td>
            <td><input type="submit" th:id="kupi" th:name="${artikal.naziv}">Kupi</input></td>
            <td><a th:href="${'/obrisi'}">Obrisi</a></td>
        </form>
    </tr>
</table>
</body>
</html>