<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Neuspesno</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/home1.css">
</head>
<body>
<h2 style="">knjige.org</h2>


<body>
    <h1>Neuspesno prijavljivanje</h1>
      <a th:href="${'/registracija'}">Registracija</a>
      <a th:href="${'/login'}">Logovanje</a>
  </body>
</html>
