<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registracija</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/css/home1.css">
</head>
<body>
<h1>Dobrodosli</h1>
<h2 style="">knjige.org</h2>
<header>

    <ul id="korisnici" >

        <li class="dropdown" style="float:left">
            <a  th:href="${'/registracija'}"  >Registracija</a>
        </li>
        <li style="float:left">
            <a th:href="${'/login'}">Logovanje</a></li>
        <li style="float:left">
            <a th:href="${'/korisnici'}">Videti sve korisnike</a></li>
        <li style="float:left">
            <a th:href="${'/artikli'}">Videti knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Kategorije</a>
            <div class="dropdown-content">
                <a th:href="${'/kategorije/istorijski'}" >Istorijski romani</a>
                <a th:href="${'/kategorije/domaci'}" >Domaći autori</a>
                <a th:href="${'/kategorije/ruskaknjizevnost'}" >Ruska knjizevnost</a> </li>

    </ul>
    <ul id="ccc" >
        <li class="dropdown" style="float:left">
            <a  th:href="${'/popust'}"  >Popust</a>
        </li>

        <li style="float:left">
            <a th:href="${'/omiljene'}">Omiljenje knjige</a></li>
        <li class="dropdown" style="float:left">
            <a th:href="${'/home'}" class="dropbtn">Sort</a>
            <div class="dropdown-content">
                <a th:href="${'/sort/imerastuce'}" >Po nazivu rastuće</a>
                <a th:href="${'/sort/imeopadajuce'}" >Po nazivu opadajuće</a>
                <a th:href="${'/sort/cenarastuca'}" >Po ceni rastuće</a>
                <a th:href="${'/sort/cenaopadajuca'}" >Po ceni opadajuća</a>
        </li>

    </ul>

</header>


<body>

<form id="register-form" method="post" enctype="application/json" action="">
     <label for="ime">Ime: </label>
    <input id="ime" type="text" name="prezime" size="25" maxlength="35" required="required" placeholder="Unesite ime" >
    <br>
    <label for="prezime">Prezime: </label>
    <input id="prezime" type="text" name="ime" size="25" maxlength="35" required="required" placeholder="Unesite prezime">
    <br>
    <label for="korisnickoime">Korisničko ime: </label>
    <input id="korisnickoime" type="text" name="korisnickoime" size="25" maxlength="35" required="required" placeholder="Unesite korisničko ime" >
    <br>
    <label for="lozinka">Lozinka: </label>
    <input id="lozinka" type="password" name="lozinka">
    <br>
    <label for="email">E-mail: </label>
    <input id="email" type="email" name="email">
    <br>
    <label for="broj">Broj telefona: </label>
    <input id="broj" type="number" name="telefon">
    <br>
    <label for="adresa">Adresa: </label>
    <input id="adresa" type="text" name="adresa">
    <br>
    <select name="uloga" required="" multiselect="">
        <option value="">Izaberi ulogu</option>
        <optgroup label="Ponuđena uloga">
            <option value="KUPAC">Kupac</option>
            <option value="ADMINISTRATOR">Administrator</option>
            <option value="DOSTAVLJAC">Dostavljac</option>
        </optgroup>
    </select>
    <br> 

    <input type="submit">

</form>

</body>
</html>
